body {
    background-color: #070707;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #5f5f5e;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display:none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 55%;
    max-width: 40%;

}

img {
    max-width: 80%;
    max-width: 90%;
}

